@import "tailwindcss";
.smoke::before,
.smoke::after {
  content: '';
  position: absolute;
  bottom: 0; /* start at bottom of text */
  left: 50%;
  width: 40px;
  height: 40px;
  background: radial-gradient(circle, rgba(255,255,255,0.6) 0%, rgba(255, 255, 255, 0.927) 70%);
  border-radius: 50%;
  filter: blur(20px);
  animation: rise 4s infinite;
  z-index: -1;
}

.smoke::after {
  width: 30px;
  height: 30px;
  animation-duration: 5s;
  animation-delay: 1.5s;
  filter: blur(25px);
}

@keyframes rise {
  0% {
    transform: translate(-50%, 0) scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: translate(-60%, -50px) scale(1);
    opacity: 0.7;
  }
  100% {
    transform: translate(-50%, -100px) scale(1.2);
    opacity: 0;
  }
}
